:root {
  --background-color: white;
  --primary-color: black;
  --secondary-color: #a0a0a0;
  --contrast-color: white;
  --navbar-border-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  text-align: center;
}

.navbar {
  border-bottom: 1px solid var(--navbar-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--background-color);
}

.navbar__menu {
  border: 0;
  cursor: pointer;
  background: none;
}

.navbar__logo {
  height: 20px;
}

.navbar__cart {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 700;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 46px;
  line-height: 1;
  margin-bottom: 7px;
  color: var(--contrast-color);
}

h2 {
  font-size: 26px;
  line-height: 1.26;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 18px;
}

h4 {
  margin-bottom: 8px;
}

h5 {
  font-size: 25px;
  margin-bottom: 20px;
}

.contrast {
  color: var(--contrast-color);
}

.secondary {
  color: var(--secondary-color);
}

.text-container {
  padding: 50px 15px;
  max-width: 800px;
  margin: 0 auto;
}

.subtitle {
  line-height: 1.5;
}

.cta {
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.design-inspiration {
  padding: 16px 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  background: url('./public/hero-banner-img.png') rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top -10px right 0px;
  height: 290px;
  padding: 0 40px;
  color: var(--contrast-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-inspiration__header {
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-inspiration__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 35px;
  margin: 40px 0;
}

.design-inspiration__item-img {
  width: 100%;
}

.design-inspiration__item-text > h3 {
  margin-top: 1.7em;
  margin-bottom: 0.6em;
}

.featured-products {
  margin-bottom: 50px;
}

.product-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  color: var(--secondary-color);
  gap: 15px;

  margin-top: 24px;
  padding: 0 15px;
}

.shop-product {
  max-width: 180px;
  display: flex;
}

.shop-product__img .shop-product-alternative {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
  padding: 65px 0;
}

.shop-product__img:hover .shop-product-alternative {
  opacity: 1;
}

.shop-product__img {
  position: relative;
  display: flex;
  padding: 65px 0;
  height: 70%;
  margin-bottom: 20px;
}

.shop-product__img > img {
  width: 90%;
  margin: 0 auto;
  align-self: center;
}

.shop-product__img:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.028);
  z-index: 2;
}

.shop-product__description > p {
  margin: 0;
}

.banner {
  color: white;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-office {
  background: url('https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FbannerB-desk-collection-A1.jpg?auto=format&ixlib=python-1.1.2&w=1100&s=8a7dd29c50c966a0d7c31119234ec3b3')
    rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top 0px right -300px;
  padding: 170px 16px;
}

.workspace > header {
  padding: 50px 15px;
}

.vimeo-video {
  padding: 112.5px 0;
  margin: 0 7.5px;
  border: 1px solid black;
  max-width: 570px;
}

.team {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.team-member > img {
  width: 100%;
}

.team-member {
  position: relative;
  max-width: 175px;
  margin: 0;
  cursor: pointer;
}

.team-member .team-member-alternative {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}

.team-member:hover .team-member-alternative {
  opacity: 1;
}

.inspires {
  background: #9aa8b1;
  margin: 0 15px;
  padding: 40px 20px;
}

.inspires > img {
  width: 40px;
  margin-bottom: 16px;
}

footer {
  background: #f9f9f9;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0px 90px;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.footer-row {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.newsletter > .subtitle {
  display: none;
}

.newsletter-email {
  border-bottom: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 16px 0;
}

.newsletter-email > input {
  font-size: 12px;
  font-style: italic;
  border: none;
  background: #f9f9f9;
}

.newsletter-email > button {
  border: none;
  font-size: 10px;
  background: #f9f9f9;
  font-weight: 700;
  text-transform: uppercase;
}

ul {
  padding: 0;
}

.footer-menu {
  list-style-type: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 120px;
  margin-bottom: 30px;
}

.footer-other-links {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media__link > img {
  width: 20px;
}

.copyright-links {
  display: flex;
  flex-direction: column;
  color: #707a7f;
  font-style: italic;
}

.website-author {
  font-style: italic;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 46px;
  }

  h3 {
    font-size: 30px;
    margin-bottom: 18px;
  }

  .navbar {
    padding: 1.3rem 3rem;
    padding-right: 5rem;
  }

  .navbar__logo {
    height: 30px;
  }

  .navbar__cart {
    font-size: 14px;
  }

  .banner {
    height: 400px;
  }

  .hero {
    background-position: top -170px right 0px;
    height: 400px;
  }

  .cta {
    font-size: 14px;
  }
  .design-inspiration {
    padding: 0 50px;
  }

  .design-inspiration__header {
    padding: 0 300px;
    margin-top: 80px;
  }

  .design-inspiration__content {
    margin: 80px 0;
    gap: 25px;
    flex-wrap: nowrap;
  }

  .product-carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    padding: 0 50px;
  }

  .shop-product {
    max-width: 300px;
  }

  .home-office {
    background-position: top 0px right -100px;
  }
  .vimeo-video {
    margin: 0 auto;
  }

  .team {
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
  }

  .team-member {
    max-width: 150px;
  }

  footer {
    margin-top: 40px;
    padding: 0 50px;
    padding-bottom: 16px;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .footer-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 32px;
    padding: 80px 0;
  }

  .newsletter {
    max-width: 380px;
    text-align: left;
  }

  .newsletter > .subtitle {
    display: flex;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 32px;
  }

  .newsletter-email > input {
    font-size: 14px;
  }

  .newsletter-email > button {
    font-size: 14px;
  }

  .footer-menu {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .footer-other-links {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    font-size: 14px;
  }

  .copyright-links {
    flex-direction: row;
    gap: 16px;
  }
}

::selection {
  background: rgba(246, 147, 104, 0.8);
  color: #fff;
}
