* {
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}

.navbar {
  border-bottom: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.navbar__menu {
  border: 0;
  background-color: white;
  cursor: pointer;
}

.navbar__logo {
  height: 20px;
}

.navbar__cart {
  font-size: 10px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
}

a {
  text-decoration: inherit;
  color: inherit;
}

h1,
h2,
h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0;
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 46px;
  line-height: 1;
}

h2 {
  font-size: 26px;
  line-height: 1.26;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 18px;
}

.subtitle-gray {
  color: #a0a0a0;
  margin: 0;
}

.hero__inner > h1 {
  margin-bottom: 7px;
}

.design-inspiration__header > p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.hero {
  background: url('./public/hero-banner-img.png') rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: top -20px right 0px;
}

.hero__inner {
  text-align: center;
}

.cta {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 8px;
}

.design-inspiration__header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 40px 0;
  padding: 0 7.5px;
}

.design-inspiration__content {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 35px;
  padding: 0 50px;
  margin: 40px 0;
}

.design-inspiration__item-img {
  height: 240px;
}

.design-inspiration__item-text > h3 {
  margin-top: 1.7em;
  margin-bottom: 0.6em;
}

.featured-products {
  text-align: center;
  margin-bottom: 50px;
}

.product-carousel {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  margin-top: 24px;
  padding: 0 15px;
}

.shop-product {
  max-width: 180px;
}

.shop-product__img {
  width: 90%;
}

.shop-product__img:before {
  background-color: #a0a0a0;
  z-index: 2;
}

.banner {
  color: white;
  height: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-office {
  background-image: url('https://grovemade.imgix.net/https%3A%2F%2Fsiteleaf.grovemade.com%2Fuploads%2FbannerB-desk-collection-A1.jpg?auto=format&ixlib=python-1.1.2&w=1100&s=8a7dd29c50c966a0d7c31119234ec3b3');
  background-size: cover;
}

@media screen and (min-width: 576px) {
  body {
    font-size: 16px;
  }

  h2 {
    font-size: 46px;
  }

  .navbar {
    padding: 1.3rem 3rem;
    padding-right: 5rem;
  }

  .navbar__logo {
    height: 30px;
  }

  .navbar__cart {
    font-size: 14px;
  }

  .banner {
    height: 500px;
  }

  .banner__link > h2 {
    font-size: 70px;
    margin-bottom: 7px;
  }

  .hero {
    background-position: top -200px right 0px;
  }

  .cta {
    font-size: 14px;
  }

  .design-inspiration__header {
    margin: 80px 0;
    padding: 0 12.5px;
  }

  .design-inspiration__content {
    gap: 25px;
  }

  .shop-product {
    max-width: 300px;
  }
}

::selection {
  background: rgba(246, 147, 104, 0.8);
  color: #fff;
}
